

@import '../style/variables';

.weather {
    color: $color-main-text;
    font-family: $font-family;
    font-size: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: max-content;
    min-width: 200px;
    height: max-content;
    background: $background-day;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    box-shadow:  5px 1px 7px $color-shadow;

    &.active {
        background:$background-active-day;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    

    &__title {
        font-size:$font-size-title-min;
        font-weight: 600;
        align-self: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__box {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        &_block {
            display: flex;
            align-items: center;
        }

        &_image {
            width: 70px;
            height: 70px;
        }

        &_temp {
            font-size: $font-size-temp-min;
            font-weight: 500;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 12px;
    }
}
