.box {
    margin-top: 30px;
    display: flex;
    gap: 30px;

    &__button {
        position: relative;
        width: max-content;
        font-size: 20px;
        padding: 5px 10px;
        color: gray;
        text-transform: uppercase;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            top: auto;
            right: 100%;
            bottom: -5px;
            left: 0;
            background: #020202;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
}
       
        &.active {
            color: #020202;
            &::after,
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                top: auto;
                right: 0;
                bottom: -5px;
                left: 0;
                background: #020202;
                transition: 0.4s;
            }
        }
    }
}
