$anim-time: 1.8s;

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;

    &__animate {
        width: 20px;
        height: 20px;
        border-radius: 10%;
        background-color: gray;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
        opacity: 0;
        &:nth-child(1) 
{
            animation: anim $anim-time infinite;
            -webkit-animation: anim $anim-time infinite;
        }
        &:nth-child(2) {
            animation: anim2 $anim-time infinite;
            -webkit-animation: anim2 $anim-time infinite;
        }
        &:nth-child(3) {
            animation: anim3 $anim-time infinite;
            -webkit-animation: anim3 $anim-time infinite;
        }
        &:nth-child(4) {
            animation: anim4 $anim-time infinite;
            -webkit-animation: anim4 $anim-time infinite;
        }
        &:nth-child(5) {
            animation: anim5 $anim-time infinite;
            -webkit-animation: anim5 $anim-time infinite;
        }
        &:nth-child(6) {
            animation: anim6 $anim-time infinite;
            -webkit-animation: anim6 $anim-time infinite;
        }
        &:nth-child(7) {
            animation: anim7 $anim-time infinite;
            -webkit-animation: anim7 $anim-time infinite;
        }
        &:nth-child(8) {
            animation: anim8 $anim-time infinite;
            -webkit-animation: anim8 $anim-time infinite;
        }
        &:nth-child(9) {
            animation: anim9 $anim-time infinite;
            -webkit-animation: anim9 $anim-time infinite;
        }
    }
}

@keyframes anim {
    0% {
        transform: translate(100px, 300px);
        -moz-transform: translate(100px, 300px);
        -ms-transform: translate(100px, 300px);
        -o-transform: translate(100px, 300px);
        -webkit-transform: translate(100px, 300px);
        opacity: 0;
    }
    5% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim2 {
    0% {
        transform: translate(200px, 300px);
        -moz-transform: translate(200px, 300px);
        -ms-transform: translate(200px, 300px);
        -o-transform: translate(200px, 300px);
        -webkit-transform: translate(200px, 300px);
        opacity: 0;
    }
    10% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim3 {
    0% {
        transform: translate(300px, 300px);
        -moz-transform: translate(300px, 300px);
        -ms-transform: translate(300px, 300px);
        -o-transform: translate(300px, 300px);
        -webkit-transform: translate(300px, 300px);
        opacity: 0;
    }
    15% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim4 {
    0% {
        transform: translate(100px, 300px);
        -moz-transform: translate(100px, 300px);
        -ms-transform: translate(100px, 300px);
        -o-transform: translate(100px, 300px);
        -webkit-transform: translate(100px, 300px);
        opacity: 0;
    }
    20% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim5 {
    0% {
        transform: translate(200px, 300px);
        -moz-transform: translate(200px, 300px);
        -ms-transform: translate(200px, 300px);
        -o-transform: translate(200px, 300px);
        -webkit-transform: translate(200px, 300px);
        opacity: 0;
    }
    25% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim6 {
    0% {
        transform: translate(300px, 300px);
        -moz-transform: translate(300px, 300px);
        -ms-transform: translate(300px, 300px);
        -o-transform: translate(300px, 300px);
        -webkit-transform: translate(300px, 300px);
        opacity: 0;
    }
    30% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim7 {
    0% {
        transform: translate(100px, 300px);
        -moz-transform: translate(100px, 300px);
        -ms-transform: translate(100px, 300px);
        -o-transform: translate(100px, 300px);
        -webkit-transform: translate(100px, 300px);
        opacity: 0;
    }
    35% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim8 {
    0% {
        transform: translate(200px, 300px);
        -moz-transform: translate(200px, 300px);
        -ms-transform: translate(200px, 300px);
        -o-transform: translate(200px, 300px);
        -webkit-transform: translate(200px, 300px);
        opacity: 0;
    }
    40% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes anim9 {
    0% {
        transform: translate(300px, 300px);
        -moz-transform: translate(300px, 300px);
        -ms-transform: translate(300px, 300px);
        -o-transform: translate(300px, 300px);
        -webkit-transform: translate(300px, 300px);
        opacity: 0;
    }
    45% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}
