@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

$font-size-title: 20px;
$font-size-temp: 25px;
$font-size-title-min: 16px;
$font-size-temp-min: 20px;

$font-family: "Inter", sans-serif;

$background-day: rgb(255, 255, 255);
$background-active: rgb(205, 232, 248);
$background-app: rgb(214, 215, 219);
$background-widget: rgb(247, 246, 249);
$background-loader: rgb(128, 128, 128);

$color-text-description: rgb(77, 77, 77);
$color-text-button: rgb(128, 128, 128);
$color-main-text: rgb(0, 0, 0);

$anim-time-loader: 1.8s;
