@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

$font-size-title: 20px;
$font-family: "Inter", sans-serif;

.data{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
}


.weather__title {
        font-size: $font-size-title;
        font-weight: 600;
        font-family: $font-family;
        align-self: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    
}
