$font-size-title: 20px;
$font-size-temp: 25px;
$font-family: "Inter", sans-serif;

.weather {
    width: 97%;
    font-family: $font-family;
    font-size: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    //width: max-content;
    background-color: rgb(232, 245, 253);
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    &__box {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 10px;

        &_time{
            font-size: 20px;
            font-family: $font-family;
        }

        &_image {
            width: 60px;
            height: 60px;
        }
        &_temp {
            font-size: $font-size-temp;
        }
        &_block {
            width: 190px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &_sunset{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        
    }
    &__text {
        font-size: 14px;
        color: rgb(77, 77, 77);
    }
    &__compass {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-image: url(../icons/kompass-1.png);
        background-position: center;
        background-size: cover;
        &_arrow {
            width: 40px;
        }
    }
}
